<div class="home-main ">
  <section class="first-section animate__animated animate__slideInLeft animate__slow">
    <div class="row">
      <div class="col-lg-9 col-md mb-2">
        <app-carousel></app-carousel>
      </div>
      <div class="col-lg-3 col-md mb-2">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">
              ¿Ya tenés <strong>tu lote</strong> en Costa Esmeralda?
            </h3>
            <button *ngIf="!user" routerLink="/main/auth" class="btn bgc-primary-dark mb-2">
              Ingresá
            </button>
            <a
              class="btn bgc-primary-dark text-white"
              href="../../../../../assets/masterplan.pdf"
              download
            >
              MASTERPLAN
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="second-section animate__animated animate__slideInRight animate__slow">
    <div class="card-group">
      <div class="card first-card">
        <img
          class="card-img-top img-responsive"
          src="../../../assets/socio.jpeg"
          alt="Logo Dubourg arquitectos"
        />
        <div class="card-body">
          <h3 class="card-title text-center">Más de 40 años en el mercado</h3>
          <p class="card-text primary-dark">
            En alianza con <strong>DUBOURG arquitectos</strong>, tenemos la
            capacidad y la experiencia para asesorarte en
            <strong>todo tipo de construcciones</strong>
          </p>
          <p class="card-text primary-dark">
            Todo para que <strong>vos,</strong> puedas tener la casa de tus
            sueños. Sin ocuparte de nada.
          </p>
          <p class="card-text primary-dark">
            Proyecto, ejecución y dirección de obra.
          </p>
          <p class="card-text primary-dark">Llave en mano.</p>
        </div>
        <div class="card-footer bg-white text-center">
          <p class="card-text primary-dark">Consultanos, podemos ayudarte</p>
        </div>
      </div>
      <div class="card second-card">
        <img
          class="card-img-top img-responsive"
          src="../../../assets/lote.jpg"
          alt="Costa Esmeralda"
        />
        <div class="card-body text-center">
          <h3 class="card-title">Lotes en <strong>venta</strong></h3>
        </div>
        <div class="card-footer text-center bg-white">
          <a routerLink="/main/lotes" class="btn btn-primary bgc-primary-dark"
            >Ver más</a
          >
        </div>
      </div>
    </div>
  </section>

  <section class="third-section animate__animated animate__fadeIn animate__slow">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title primary-dark text-center">Nosotros</h2>
        <div class="row">
          <div class="col-lg-4 col-md-3">
            <img
              src="../../../assets/quienes-somos-home.jpg"
              class="img-fluid"
            />
          </div>
          <div class="col-lg-8 col-md-9">
            <div class="text-container">
              <p class="primary-dark text-justify">
                DLN Construcciones es una joven empresa dedicada a la
                construccion de hogares modernos, confortables, seguros y
                respetuosos del medio ambiente, donde vos y tu familia puedan
                tener la descanso y la recreación que merecen. Cubrimos toda la
                región de la Costa Atlántica, pero la mayor parte de nuestros
                trabajos se han realizado en el barrio Costa Esmeralda. Nos
                ocupamos de todos los aspectos: desde el anteproyecto, estudio
                de suelo, la realización de planos, imágenes digitales, los
                trámites municipales, compra de materiales, la dirección de obra
                y la ejecución, hasta el posterior mantenimiento y la compra de
                mobiliario, si así lo deseas. Ponemos a tu disposición toda
                nuestra experiencia, asesorándote desde la idea inicial y la
                adquisición del terreno, pasando por el diseño y desarrollo
                hasta la ejecución y posterior mantenimiento de tu nuevo hogar,
                de la mano de nuestro equipo de profesionales, técnicos y
                operarios de primera línea.
                <strong>Decenas de clientes satisfechos nos avalan.</strong>
              </p>
              <p class="primary-dark">Contactanos, podemos asesorarte</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
