<div class="row animate__animated animate__fadeIn animate__slow">
  <!-- Column -->
  <div class="col-lg-4 col-xlg-3 col-md-5">
    <div class="card">
      <div class="card-body">
        <div class="m-t-30 text-center">
          <img
            (click)="inputFoto.click()"
            [src]="user.getAvatar()"
            class="img-circle pointer"
            width="150"
          />
          <div class="p-2" *ngIf="formatoImagenNoAceptado">
            <span class="text-danger">Formato de imágen inválido</span>
          </div>
          <input
            (change)="cambiarFoto($event)"
            type="file"
            #inputFoto
            class="d-none"
          />
          <h4 class="card-title m-t-10 primary-dark">
            {{ user?.nombre }} {{ user.apellido }}
          </h4>
        </div>
      </div>
      <div>
        <hr />
      </div>
      <div class="card-body">
        <h4 class="text-muted">Email</h4>
        <h6>{{ user?.email }}</h6>
        <h4 [hidden]="!user?.phone" class="text-muted p-t-30 db">Teléfono</h4>
        <h6 [hidden]="!user?.phone">{{ user?.phone }}</h6>
      </div>
    </div>
  </div>
  <!-- Column -->
  <div class="col-lg-8 col-xlg-9 col-md-7">
    <div class="card">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs profile-tab" role="tablist">
        <li class="nav-item">
          <a
            class="nav-link active"
            data-toggle="tab"
            href="#profile"
            role="tab"
            aria-expanded="true"
            >Yo</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            data-toggle="tab"
            href="#settings"
            role="tab"
            aria-expanded="false"
            >Editar perfil</a
          >
        </li>
        <li
          *ngIf="user?.role === 'admin' || user?.role === 'master'"
          class="nav-item bgc-primary"
        >
          <a
            class="nav-link"
            id="admin-pag"
            routerLink="/admin"
            aria-expanded="false"
            >Administrar página</a
          >
        </li>
        <li class="nav-item bg-danger text-white pointer" (click)="logout()">
          <a
            class="nav-link"
            id="admin-pag"
            aria-expanded="false"
            >Cerrar sesión</a
          >
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div
          class="tab-pane active"
          id="profile"
          role="tabpanel"
          aria-expanded="true"
        >
          <div class="card-body">
            <div class="row">
              <div class="col-md-4 col-xs-6 b-r">
                <strong>Nombre completo</strong>
                <br />
                <p class="text-muted">
                  {{ user?.nombre }} {{ user?.apellido }}
                </p>
              </div>
              <div class="col-md-4 col-xs-6 b-r">
                <strong>Teléfono</strong>
                <br />
                <p class="text-muted">{{ user?.phone }}</p>
              </div>
              <div class="col-md-4 col-xs-6">
                <strong>Email</strong>
                <br />
                <p class="text-muted">{{ user?.email }}</p>
              </div>
            </div>
            <hr />
            <ng-container *ngIf="user?.projects; else noProjects">
              <app-proyects
                [user]="user"
                (onDownloadCashflow)="descargarCashflow($event)"
              ></app-proyects>
            </ng-container>
            <ng-template #noProjects>
              <h4 class="font-medium m-t-30">Proyectos:</h4>
              <hr />
              <h5 class="m-t-30">
                Todavía no tenes un proyecto asignado
                <span>¡No te quedes esperando y escribinos!</span>
              </h5>
            </ng-template>
          </div>
        </div>
        <div
          class="tab-pane"
          id="settings"
          role="tabpanel"
          aria-expanded="false"
        >
          <div class="card-body">
            <form
              [formGroup]="editProfileForm"
              (ngSubmit)="cambiarPerfil()"
              class="form-horizontal form-material"
            >
              <div class="form-group">
                <div class="col-md-12">
                  <input
                    type="text"
                    formControlName="first_name"
                    placeholder="Nombre"
                    class="form-control form-control-line primary-dark"
                  />
                  <div class="p-2">
                    <span
                      class="text-danger"
                      *ngIf="
                        editProfileForm.controls.first_name.errors?.required &&
                        editProfileForm.controls.first_name.touched
                      "
                      >Este dato es requerido</span
                    >
                    <span
                      class="text-danger"
                      *ngIf="
                        editProfileForm.controls.first_name.errors?.minlength &&
                        editProfileForm.controls.first_name.touched
                      "
                      >Debe tener al menos 3 caracteres</span
                    >
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12">
                  <input
                    type="text"
                    formControlName="last_name"
                    placeholder="Apellido"
                    class="form-control form-control-line primary-dark"
                  />
                </div>
                <div class="p-2">
                  <span
                    *ngIf="
                      editProfileForm.controls.last_name.errors?.required &&
                      editProfileForm.controls.last_name.touched
                    "
                    class="text-danger"
                    >Este dato es requerido</span
                  >
                  <span
                    *ngIf="
                      editProfileForm.controls.last_name.errors?.minlength &&
                      editProfileForm.controls.last_name.touched
                    "
                    class="text-danger"
                    >Debe tener al menos 3 caracteres</span
                  >
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12">
                  <input
                    type="text"
                    formControlName="dni"
                    placeholder="DNI"
                    class="form-control form-control-line primary-dark"
                  />
                  <div class="p-2">
                    <span
                      *ngIf="
                        editProfileForm.controls.dni.errors?.required &&
                        editProfileForm.controls.dni.touched
                      "
                      class="text-danger"
                      >Este dato es requerido</span
                    >
                    <span
                      *ngIf="
                        editProfileForm.controls.dni.errors?.min &&
                        editProfileForm.controls.dni.touched
                      "
                      class="text-danger"
                      >Debe contenter al menos 7 caracteres</span
                    >
                    <span
                      *ngIf="
                        editProfileForm.controls.dni.errors?.max &&
                        editProfileForm.controls.dni.touched
                      "
                      class="text-danger"
                      >Número máximo 999.999.999</span
                    >
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12">
                  <input
                    type="email"
                    formControlName="email"
                    placeholder="Email"
                    class="form-control form-control-line primary-dark"
                    name="example-email"
                    id="example-email"
                  />
                  <div class="p-2">
                    <span
                      class="text-danger"
                      *ngIf="
                        editProfileForm.controls.email.errors?.required &&
                        editProfileForm.controls.email.touched
                      "
                      >Este dato es requerido</span
                    >
                    <span
                      class="text-danger"
                      *ngIf="
                        editProfileForm.controls.email.errors?.pattern &&
                        editProfileForm.controls.email.touched
                      "
                      >Por favor ingresá un email válido</span
                    >
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12">
                  <input
                    type="number"
                    placeholder="Teléfono"
                    formControlName="phone"
                    class="form-control form-control-line primary-dark"
                  />
                  <div class="p-2"></div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <input
                    type="password"
                    placeholder="Escribí tu contraseña nueva"
                    class="form-control primary-dark"
                    formControlName="password"
                    (change)="toggleRepetirConstrasena()"
                    #inputPassword
                  />
                  <div class="input-group-addon">
                    <i
                      (click)="showPassword(inputPassword)"
                      [class]="passwordEye"
                    ></i>
                  </div>
                  <span
                    class="text-danger"
                    *ngIf="
                      editProfileForm.controls.password.errors?.pattern &&
                      editProfileForm.controls.password.touched
                    "
                    >La contraseña debe tener un mínimo de 8 caracteres,
                    incluyendo una minúscula, una mayúscula, un número y un
                    símbolo</span
                  >
                </div>
                <div *ngIf="showStrongPasswordErrorMsgs()" class="p-2">
                  <ul class="form-text text-danger list-unstyled">
                    <li *ngIf="showStrongPasswordErrorMsgs()">
                      La contraseña debe tener al menos 8 caracteres
                    </li>
                    <li *ngIf="showStrongPasswordErrorMsgs()">
                      La contraseña debe contener al menos un número
                    </li>
                    <li *ngIf="showStrongPasswordErrorMsgs()">
                      La contraseña debe contener al menos una letra minúscula
                    </li>
                    <li *ngIf="showStrongPasswordErrorMsgs()">
                      La contraseña debe tener al menos una letra mayúscula
                    </li>
                    <li *ngIf="showStrongPasswordErrorMsgs()">
                      La contraseña debe tener al menos alguno de los siguientes
                      símbolos *._%+-
                    </li>
                  </ul>
                </div>
              </div>
              <div
                class="form-group animate__animated animate__slideInLeft animate__fast"
                *ngIf="mostrarRepetirContrasena"
              >
                <div class="col-md-12">
                  <div class="input-group">
                    <input
                      type="password"
                      class="form-control"
                      placeholder="Repetí tu contraseña nueva"
                      formControlName="passwordRepeat"
                      #inputRepeatPassword
                    />
                    <div class="input-group-addon">
                      <i
                        (click)="showRepeatPassword(inputRepeatPassword)"
                        [class]="repeatPasswordEye"
                      ></i>
                    </div>
                  </div>
                  <div class="p-2">
                    <span
                      class="text-danger"
                      *ngIf="
                        editProfileForm.controls.passwordRepeat.errors
                          ?.required &&
                        editProfileForm.controls.passwordRepeat.touched
                      "
                      >Este dato es requerido</span
                    >
                    <span
                      class="text-danger"
                      *ngIf="
                        editProfileForm.controls.passwordRepeat.errors
                          ?.notMatch &&
                        editProfileForm.controls.passwordRepeat.touched
                      "
                      >Las contraseñas no coinciden</span
                    >
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <button type="submit" class="btn btn-success">
                    Actualizar perfil
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
