div {
  .lote {
    margin: 10px 0;
    display: flex;
    @media (max-width: 575px) {
      flex-direction: column;
    }
    .info {
      width: 50%;
      display: block;
      padding: 5px;
      text-align: left;
      @media (max-width: 575px) {
        width: 100%;
        text-align: center;
      }
      p.primary {
        text-align: justify;
      }
    }
    .image {
      width: 50%;
      padding: 5px;
      @media (max-width: 575px) {
        width: 100%;
      }
      img {
        width: 100%;
      }
    }
  }
  button {
    color: white;
    padding: 5px;
    border-radius: 5px;
  }
}
