<h4 class="font-medium m-t-30">Proyectos:</h4>
<hr />
<div class="mb-5" *ngFor="let proyecto of proyectos; let i = index">
  <h4 class="m-t-30 primary-dark">
    {{ proyecto.title ? proyecto.title : "Proyecto sin título" }}
    <span class="pull-right">{{ porcentaje[i] }}%</span>
  </h4>
  <div class="progress">
    <div class="progress-bar bgc-primary-dark" role="progressbar" aria-valuenow="80" aria-valuemin="0"
      aria-valuemax="100" [style]="progressBarStyle[i]"></div>
  </div>
  <h5 class="m-t-10 primary-dark">
    Total
    <span class="pull-right primary-dark">{{ proyecto.total | currency }}</span>
  </h5>
  <h5 class="m-t-10" [class]="!proyecto.balance ? 'text-success' : 'text-warning'">
    Balance:
    <br />
    <span>
      {{ !proyecto.balance ? "¡Estas al día!" : "Falta pagar" }}
      <i [class]="!proyecto.balance ? 'ti ti-face-smile' : ''"></i>
    </span>
    <span class="pull-right">{{ proyecto.balance | currency }}</span>
  </h5>
  <div *ngIf="proyecto.Payments?.length" class="row animated fadeIn rows-container">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="text-nowrap primary-dark" *ngFor="let encabezado of encabezados">
                    {{ encabezado }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let payment of proyecto.Payments">
                  <td>{{ payment.description }}</td>
                  <td>{{ payment.wayToPay }}</td>
                  <td>{{ payment.datetime | date: "dd/MM/yyyy" }}</td>
                  <td>#{{ payment.receipt }}</td>
                  <td>{{ payment.coin }}</td>
                  <td>
                    {{
                      setFormatAcordingToPaymentMethod(
                        payment.amount.toString(),
                        payment.coin
                      )
                    }}
                  </td>
                  <td>{{ payment.iva === "true" ? "Si" : "No" }}</td>
                  <td>
                    {{
                      payment.subTotal
                        ? setFormatAcordingToPaymentMethod(
                            payment.subTotal.toString(),
                            payment.coin
                          )
                        : setFormatAcordingToPaymentMethod(
                            payment.amount.toString(),
                            payment.coin
                          )
                    }}
                  </td>
                  <td>
                    {{
                      payment.cotizacionUsd
                        ? (payment.cotizacionUsd | currency)
                        : "-"
                    }}
                  </td>
                  <td>
                    {{ setDolarCodeFormat(payment.totalUsd?.toString()) }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="proyecto.Cashflows?.length">
    <h6 class="primary-dark mt-3">Archivos para descargar: {{ proyecto.title }}</h6>
    <div class="cashflows-container mt-3">
      <div *ngFor="let file of proyecto.Cashflows" class="cashflows-container__card pointer"
        (click)="descargarCashFlow(file.cashflow)">
        <img [src]="setFileToDownloadIcon(file.cashflow)" alt="Icono">
        <p>{{ file.cashflow | slice: 0 : file.cashflow.lastIndexOf('_') }}</p>
      </div>
    </div>
  </ng-container>
  <div *ngIf="proyecto.Assets.length" class="row proyect-carrousel mt-5 b-b-5">
    <h6 class="primary-dark mt-3">Galería: {{ proyecto.title }}</h6>
    <hr />
    <div class="card-group">
      <div *ngFor="let a of assets" class="col-lg-4 col-md-6" [class]="
          showGalleryCard(a, proyecto) ? 'display-block' : 'display-none'
        ">
        <div class="card m-0 p-0">
          <div *ngIf="showGalleryImage(a, proyecto)">
            <img class="img-responsive" [src]="a.base64" alt="Construcción" />
          </div>
          <div class="embed-responsive embed-responsive-21by9" *ngIf="showGalleryVideo(a, proyecto)">
            <video class="embed-responsive-item" [src]="a.base64" [autoplay]="false" [muted]="true" [loop]="true"
              [controls]="true"></video>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
