.project {
  .progress-bar {
    height: 6px;
  }
  .cashflows-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10px;
    @media (max-width: 1343px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 990px) {
      grid-template-columns: 1fr;
    }
    &__card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        max-width: 50px;
      }
    }
  }

  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    @media (max-width: 1165px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 525px) {
      grid-template-columns: 1fr;
    }
    &__card {
      img {
        width: 100%;
        height: 250px;
      }
      .embed-responsive,
      .embed-responsive-21by9 {
        height: 250px;
        background-color: black;
        video {
          width: 100%;
          height: 250px;
        }
      }
    }

    .display-none {
      display: none;
    }

    .display-block {
      display: block;
    }
  }
}
