<div class="card-container">
  <div class="card">
    <img [src]="imagePath" alt="">
    <div class="info">
      <h2 *ngIf="title" [innerText]="title"></h2>
      <p *ngIf="description" [innerText]="description"></p>
    </div>
    <div class="action-container">
      <a *ngIf="routerAnchor" mat-raised-button [routerLink]="[routerAnchor.route]" routerLinkActive="router-link-active"  routerLinkActive="router-link-active" ] class="bgc-primary-dark">{{ routerAnchor.innerText }}</a>
      <a *ngIf="downloadAnchor" mat-raised-button class="bgc-primary-dark" [href]="downloadAnchor.href" download>{{ downloadAnchor.innerText }}</a>
    </div>
  </div>
</div>
