.login-container {
  width: 100%;
  display: flex;
  justify-content: center;
  .box {
    margin: 24px 0px;
    padding: 16px;
    border-radius: 24px;
    width: 50%;
    form {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      input {
        width: 100%;
      }
      mat-checkbox {
        margin-top: 8px;
      }
      button {
        margin-top: 16px;
      }
      mat-error {
        font-size: 15px;
      }
    }
  }
}
