<div class="main">
  <h1 class="primary-dark"><strong>Quienes somos</strong></h1>
  <hr>
  <div class="info-1">
    <h2 class="primary">La empresa</h2>
    <p>DLN Construcciones es una joven empresa dedicada a la construccion de hogares modernos, confortables, seguros y respetuosos del medio ambiente, donde vos y tu familia puedan tener la descanso y la recreación que merecen.</p>
    <h2 class="primary">Nuestros comienzos</h2>
    <p>bla bla bla</p>
    <h2 class="primary">Objetivos</h2>
    <ul>
      <li>
        Que vivas experiencia personalizada, con un contacto fluido y actualizaciones semanales con fotos de los avances de tu obra.
      </li>
      <li>
        Que pueadas estar ajeno a las demandas que una obra puede generar y que no te tengas que ocupar de nada más que ver los avances de tu casa.
      </li>
    </ul>
  </div>
  <div class="info-2"></div>
  <div class="info-3">
    <h2 class="primary">Misión</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, culpa!</p>
    <h2 class="primary">Visión</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, eius!</p>
    <h2 class="primary">Valores</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, vero.</p>
  </div>
  <mat-accordion>
    <mat-expansion-panel class="bgc-primary-dark">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Ver más</strong>
        </mat-panel-title>
      </mat-expansion-panel-header>
        <img src="../../../assets/quienes-somos-2.jpg" alt="">
        <p>Cubrimos toda la región de la Costa Atlántica, pero la mayor parte de nuestros trabajos se han realizado en el barrio Costa Esmeralda.</p>
        <p>Nos ocupamos de todos los aspectos: desde el anteproyecto, estudio de suelo, la realización de planos, imágenes digitales, los trámites municipales, compra de materiales, la dirección de obra y la ejecución, hasta el posterior mantenimiento y la compra de mobiliario, si así lo deseas.</p>
        <p>Ponemos a tu disposición toda nuestra experiencia, asesorándote desde la idea inicial y la adquisición del terreno, pasando por el diseño y desarrollo hasta la ejecución y posterior mantenimiento de tu nuevo hogar, de la mano de nuestro equipo de profesionales, técnicos y operarios de primera línea.</p>
        <p><strong>Decenas de clientes satisfechos nos avalan.</strong></p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
