<nav class="menu">
  <div class="row">
    <div class="col-12">
      <mat-toolbar class="menu-brand-logo">
        <mat-toolbar-row>
          <div class="col-3">
            <img src="../../../assets/logo.png" alt="logo" [routerLink]="'/'" class="m-1">
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <mat-toolbar class="menu-toolbar-second-row">
        <mat-toolbar-row class="menu-user-navigation" >
            <button class="buttons" mat-button [routerLink]="['/home']">INICIO</button>

            <button class="buttons"  mat-button [routerLink]="['/quienes-somos']">QUIENES SOMOS</button>

            <button class="buttons" mat-button [matMenuTriggerFor]="serviciosMenu">SERVICIOS</button>
            <mat-menu #serviciosMenu="matMenu" yPosition="below">
              <button mat-menu-item [routerLink]="['/servicios']">Vivienda</button>
              <button mat-menu-item [routerLink]="['/servicios']">Piscina</button>
              <button mat-menu-item [routerLink]="['/servicios']">Telecomunicaciones</button>
            </mat-menu>


            <button class="buttons" mat-button [routerLink]="['/trabajos-realizados']">TRABAJOS REALIZADOS</button>

            <button class="buttons" mat-button [routerLink]="['/lotes']">LOTES</button>

            <button class="buttons" mat-button [routerLink]="['/contacto']">CONTACTO</button>

            <div class="menu-user-navigation-profile buttons">
              <mat-icon>person</mat-icon>
              <button mat-button [matMenuTriggerFor]="profileMenu">MI CUENTA</button>
              <mat-menu #profileMenu="matMenu" yPosition="below">
                <button mat-menu-item [routerLink]="['/auth']">INICIAR SESIÓN</button>
                <button mat-menu-item [routerLink]="['/auth']">REGISTRARSE</button>
              </mat-menu>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
  </div>
</nav>

