.menu {
  & .menu-brand-logo {
    background-color: white;
    & mat-toolbar-row {
      height: max-content;
      display: flex;
      justify-content: center;
      & img {
        width: 100%;
        cursor: pointer;
      }
    }
  }
  & .menu-toolbar-second-row {
    & .menu-user-navigation {
      display: flex;
      justify-content: space-around;
      align-items: center;
      & button {
        border: none;
        background-color: inherit;
        padding: 5px;
        @media (max-width: 1110px) {
          font-size: 0.7rem;
        }
        @media (max-width: 668px) {
          font-size: 0.5rem;
        }
        @media (max-width: 534px) {
          font-size: 0.4rem;
        }
        @media (max-width: 432px) {
          display: none;
        }
      }
      button:hover {
        text-decoration: underline;
      }
      button:focus {
        text-decoration: underline;
      }
      & .menu-user-navigation-profile {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    }
  }
  }
