<div class="main-tipo-servicio animate__animated animate__fadeIn animate__slow">
  <h1 class="primary-dark text-center">{{ tipoServicio?.title }}</h1>
  <hr />
  <ng-container *ngIf="tipoServicioContents">
    <div class="description" *ngFor="let content of tipoServicioContents">
      <h3 *ngIf="content.subtitle" class="primary">{{ content.subtitle }}</h3>
      <p *ngIf="content.text">{{ content.text }}</p>
    </div>
  </ng-container>
  <ng-container *ngIf="tipoServicioPictures?.length">
    <p class="primary text-center">Chequeá nuestra galería de piscinas realizadas:</p>
    <app-presentation-card
      [presentationCard]="picturesToPresent"
    ></app-presentation-card>
  </ng-container>
</div>
