.modal-container {
  h1 {
    text-align: center;
  }
  mat-dialog-content {
    img {
      width: 100%;
      height: 300px;
      margin: 10px auto;
      @media (max-width: 575px) {
        height: auto;
      }
    }
    text-align: justify;
    font-size: 20px;
  }

  mat-dialog-actions {
    display: flex;
    justify-content: center;
    button {
      color: white;
    }
  }

}
