<section *ngIf="interestsData.length">
  <div class="">
    <button class="
        right-side-toggle
        waves-effect waves-light
        btn-inverse btn btn-circle btn-sm
        pull-right
        m-l-10
        bgc-primary-dark
      " alt="default" data-toggle="modal" data-target="#responsive-modal">
      <i class="ti-settings text-white"></i>
    </button>
  </div>
  <div id="responsive-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    style="display: none" aria-hidden="true">
    <div class="modal-dialog" *ngFor="let interest of interestsData">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-center">{{ interest.title }}</h4>
          <button type="button" class="close btn" data-dismiss="modal" aria-hidden="true">
            X
          </button>
        </div>
        <div class="modal-body">
          <img class="img-responsive" [src]="interest.image" alt="" />
        </div>
        <div class="modal-footer">
          <p>
            {{ interest.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
