<div class="row">
  <div class="col-lg-6 ">
    <div class="card">
      <div class="card-body">
        <form class="form-horizontal p-t-20" [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="form-group row">
            <label for="exampleInputEmail3" class="col-sm-3 control-label"
              >Email*</label
            >
            <div class="col-sm-9">
              <div class="input-group">
                <input
                  type="email"
                  class="form-control"
                  id="exampleInputEmail3"
                  placeholder="tuemail@dlnconstrucciones..."
                  formControlName="email"
                />
                <div class="p-2">
                  <span
                    class="text-danger"
                    *ngIf="
                      loginForm.controls.email.errors?.required &&
                      loginForm.controls.email.touched
                    "
                    >Este dato es requerido</span
                  >
                  <span
                    class="text-danger"
                    *ngIf="
                      loginForm.controls.email.errors?.pattern &&
                      loginForm.controls.email.touched
                    "
                    >Por favor ingresá un email válido</span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword4" class="col-sm-3 control-label"
              >Constraseña*</label
            >
            <div class="col-sm-9">
              <div class="input-group">
                <input
                  type="password"
                  class="form-control"
                  id="exampleInputpwd4"
                  placeholder="Escribí tu contraseña"
                  formControlName="password"
                />
                <div class="p-2">
                  <span
                  class="text-danger"
                  *ngIf="
                    loginForm.controls.password.errors?.required &&
                    loginForm.controls.password.touched
                  "
                  >Este dato es requerido</span
                >
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <div class="checkbox checkbox-success">
                <input id="checkbox33" type="checkbox" />
                <label for="checkbox33">Recordarme</label>
              </div>
            </div>
          </div>
          <div class="form-group row m-b-0">
            <div class="offset-sm-3 col-sm-9">
              <button
                type="submit"
                class="btn btn-success waves-effect waves-light bgc-primary-dark"
              >
                Iniciar sesión
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
